.list {
    margin-right: 50px;
}

.listTitle {
    margin: 0 0 10px 0;
    font-size: 14px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li {
    margin-bottom: 5px;
    font-size: 12px;
}